body{
    background: lightblue;
    font-family: sans-serif;
}
.container{
    margin: auto;
    background: white;
    width: 800px;
    padding: 30px;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;

}
ul.slider{
position: relative;
width: 800px;
height: 300px;
}
ul.slider li {
    position: absolute;
    background: white;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
}
ul.slider li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
ul.slider li:first-child{
    opacity: 1;
}
ul.slider li:target{
    opacity: 1;
}
.menu{
    text-align: center;
    margin: 20px;
}
.menu li{
    display: inline-block;
   
}
.menu li a{
    display: inline-block;
    color:white;
    text-decoration: none;
    background: rgb(143, 95, 111);
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}